<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Home</title>
</head>
{% load staticfiles %}
<style type="text/css">
html {
  height: 100%;
} 

body {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  height: 100%;
  width: 100% /* needed for Firefox */
} 
.juzhong {
  display: flex;
  align-items: center;
}	
</style>
<body>
	<div class="juzhong">
		{% for jpgid in jpgids %}
    		{% if not jpgid %}
    			<a href="/switch/{{ forloop.counter }}/"><img src="{% static "switch/0.jpg" %}" /></a>
    		{% else %}
   				 <a href="/switch/{{ forloop.counter }}/"><img src="{% static "switch/1.jpg" %}" /></a>
    		{% endif %}
		{% endfor %}
	</div>
</body>
</html>	
{{cmmd}}